<section>
    <!-- main container  -->
    <div class="container mt-5">
        <!-- parent div  -->
        <div class="row parent">
            <!-- upper div ** child div  -->
            <div class="upload-photo">
                <div class="photo">
                    <img src="../../../assets/imgs/camera.png" alt="">
                    <span>Update Cover Photo</span>
                </div>
                <div class="profile-image">
                    <img src="../../../assets/imgs/user-photo.png" alt="">
                </div>
                <div class="play-button">
                    <span>
                        <img src="../../../assets/imgs/play-button.png" alt="">
                    </span>
                </div>
            </div>

            <!-- personal info div *** child div  -->
            <div class="row p-4 profile">
                <div class="personal-info col-md-6">
                    <span>Mary Watson</span>
                    <span class="loc">Phoenix, Arizona, USA • Student</span>
                    <span class="apply-links">Looking for: <a class="links" href="" target="_blank"
                            rel="noopener noreferrer">
                            Admission,</a>
                        <a class="links"  href="#" target="_blank" rel="noopener noreferrer"> Job,</a> <a
                            class="links"  href="#" target="_blank" rel="noopener noreferrer"> Scholarships</a>
                    </span>

                    <span><a class="links"  href="#" target="_blank" rel="noopener noreferrer"> Add Bio</a> </span>
                    <div class="btns mt-2">
                        <button class="btn btn-primary edit-profile mr-3">Edit profile <img
                                src="../../../assets/imgs/edit-icon.png" alt=""></button>
                        <button class="btn btn-primary add-profile mr-3">Add to Profile</button>
                        <span> <img src="../../../assets/imgs/dots.png" alt=""></span>
                    </div>
                </div>
                <div class="info col-md-6">
                    <span> <img class="mr-1" src="../../../assets/imgs/graduation.png" alt="" srcset=""> Currently at <a
                            class="ml-2 links"  href="#" target="_blank" rel="noopener noreferrer">University of
                            Arizona</a>
                    </span>
                    <div class="ml-4">
                        <span> <a class="links"  href="#" target="_blank" rel="noopener noreferrer">Add
                                Grade</a></span>
                        <span> <a class="links"  href="#" target="_blank" rel="noopener noreferrer">Add Language
                                Qualification</a></span>
                        <span> <a class="links"  href="#" target="_blank" rel="noopener noreferrer">Add
                                Accomplishment</a></span>
                    </div>
                </div>
            </div>

            <!-- tabs div ** child div  -->
            <div class="tabs col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Saved</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>